// basic colors
$white: white;
$black: #000;
$blue: #019ef9;
$pink: #c400f7;
$purple: #9e2cf5;
$grey: #4a4a4a;
$dark-blue: #1c2026;
$green: #0ee6b7;
// Theme colors
$purple--dark: #3f1258;
$purple--darkest: #331549;
$color-primary: $pink;
$coloir-secondary: $blue;

// util colors
$border-color: $grey;

// misc
$popup-overlay: 0 2px 6px 0 rgba(38, 82, 104, 0.1),
	0 8px 24px 0 rgba(22, 60, 92, 0.26);
$overlay: rgba(154, 171, 179, 0.4);
$gradient: linear-gradient(
	to left bottom,
	#c400f7,
	#905aff,
	#577aff,
	#128fff,
	#019ef9
);
