$blue: #019ef9;
$pink: #c400f7;
$purple: #9e2cf5;

$purple--dark: #3f1258;
$purple--darkest: #331549;

$color-primary: $pink;
$coloir-secondary: $blue;

$gradient: linear-gradient(
	63deg,
	rgba(1, 158, 249, 1) 0%,
	rgba(0, 0, 0, 1) 100%
);
