@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$font--primary: 'Poppins', sans-serif;

$heading-h1-size: 72px;
$heading-h2-size: 64px;
$heading-h3-size: 18px;
$heading-h4-size: 15px;
$heading-h5-size: 15px;
$heading-h6-size: 15px;

$font-weight__medium: 400;
$font-weight__semibold: 600;
$font-weight__bold: 700;
$fontweight__extra-bold: 900;
$font-weight__normal: $font-weight__medium;

$font-size--base: 16px;

* {
	font-family: $font--primary;
}

html {
	font-size: $font-size--base;
}

h1 {
	font-size: $heading-h1-size;
}

h2 {
	font-size: $heading-h2-size;
}

h3 {
	font-size: $heading-h3-size;
}

h4 {
	font-size: $heading-h4-size;
}

h5 {
	font-size: $heading-h5-size;
}

h6 {
	font-size: $heading-h6-size;
}
